# GitHub API Credentials
GITHUB_TOKEN=your_github_token_here
GITHUB_ENTERPRISE=your_enterprise_slug_here
GITHUB_ORG=your_organization_slug_here

# PostgreSQL connection string
DATABASE_URL=postgresql://user:password@localhost:5432/burnrate
